<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{% static 'system_admin/css/dashboard.css' %}">
</head>
<body>
  <header>
    <h1>System Admin Dashboard</h1>
    <p>Welcome, {{ request.user.username }}!</p>

    <nav>
      <ul>
  <li><a href="{% url 'register_facility' %}">➕ Register New Health Facility</a></li>
  <li><a href="{% url 'create_vaccine' %}">💉 Register New Vaccine</a></li>
  <li><a href="{% url 'create_facility_admin' %}">👤 Create Facility Admin</a></li>
  <li><a href="{% url 'list_facility_admins' %}">👥 View Facility Admins</a></li>
  <li><a href="{%url 'list_facilities'%}">🏥 View Registered Facilities</a></li>
  <li><a href="{% url 'list_vaccinations' %}">📋 View Vaccinations</a></li>
      </ul>
      <a href="{% url 'logout' %}">Log Out</a>
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- dynamic content here -->
    {% endblock %}
  </main>
</body>
</html>
