<div class="card" >

 <h2>Registered Facility Admins</h2>
  <table border="1">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Assigned Facility</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.user.username }}</td>
                <td>{{ admin.user.email }}</td>
                <td>{{ admin.facility.name }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No facility admins registered.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
